In [1]:
import pandas as pd
df=pd.read_csv('../z20_data/drinks.csv',index_col='country')
df

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0.0,0.0,0.0,0.0,AS
Albania,89.0,132.0,54.0,4.9,EU
Algeria,25.0,0.0,14.0,0.7,AF
Andorra,245.0,138.0,312.0,12.4,EU
Angola,217.0,57.0,45.0,5.9,AF
...,...,...,...,...,...
Vietnam,111.0,2.0,1.0,2.0,AS
Yemen,6.0,0.0,0.0,0.1,AS
Zambia,32.0,19.0,4.0,2.5,AF
Zimbabwe,64.0,18.0,4.0,4.7,AF
22,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, Afghanistan to 22
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beer_servings                 193 non-null    float64
 1   spirit_servings               193 non-null    float64
 2   wine_servings                 193 non-null    float64
 3   total_litres_of_pure_alcohol  193 non-null    float64
 4   continent                     170 non-null    object
dtypes: float64(4), object(1)
memory usage: 9.1+ KB

In [3]:
#null값 갯수
len(df['continent'].isnull())

194

In [4]:
df.fillna('NN',inplace=True)

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_30920\3060946602.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('NN',inplace=True)

In [5]:
len(df[df['continent'].isnull()])

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, Afghanistan to 22
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beer_servings                 194 non-null    object
 1   spirit_servings               194 non-null    object
 2   wine_servings                 194 non-null    object
 3   total_litres_of_pure_alcohol  194 non-null    object
 4   continent                     194 non-null    object
dtypes: object(5)
memory usage: 13.2+ KB

In [12]:
df['beer_servings'].str.astype(int)

AttributeError: 'StringMethods' object has no attribute 'astype'

In [10]:
df.groupby('continent')['beer_servings'].sum()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [7]:
df['continent'].str.contains('NA')

country
Afghanistan    False
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Vietnam        False
Yemen          False
Zambia         False
Zimbabwe       False
22             False
Name: continent, Length: 194, dtype: bool

In [8]:
df[df['continent'].isnull()]

Empty DataFrame
Columns: [beer_servings, spirit_servings, wine_servings, total_litres_of_pure_alcohol, continent]
Index: []

In [9]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,194.0,194.0,194.0,194.0,194
unique,131.0,110.0,80.0,91.0,6
top,0.0,0.0,0.0,0.0,AF
freq,15.0,23.0,31.0,13.0,53

In [33]:
#대륙별로 beer servings 최소,최대,평균,합계 
df.groupby('continent')['beer_servings'].min()
df.groupby('continent')['beer_servings'].max()
df.groupby('continent')['beer_servings'].mean()
df.groupby('continent')['beer_servings'].sum()

continent
AF    3258
AS    1630
EU    8720
NN    3345
OC    1435
SA    2101
Name: beer_servings, dtype: int64

In [35]:
#apply() - 함수적용, agg() -그룹함수 사용적용
df.groupby('continent')['beer_servings'].agg(['min','max','sum','mean'])
df.groupby('continent')['wine_servings'].agg(['min','max','sum','mean'])

           min  max   sum        mean
continent
AF           0  233   862   16.264151
AS           0  123   399    9.068182
EU           0  370  6400  142.222222
NN           1  100   564   24.521739
OC           0  212   570   35.625000
SA           1  221   749   62.416667

In [36]:
df.groupby('continent')[['beer_servings','spirit_servings']].agg(['min','max','sum','mean'])

          beer_servings                        spirit_servings             \
                    min  max   sum        mean             min  max   sum
continent
AF                    0  376  3258   61.471698               0  152   866
AS                    0  247  1630   37.045455               0  326  2677
EU                    0  361  8720  193.777778               0  373  5965
NN                    1  285  3345  145.434783              68  438  3812
OC                    0  306  1435   89.687500               0  254   935
SA                   93  333  2101  175.083333              25  302  1377


                 mean
continent
AF          16.339623
AS          60.840909
EU         132.555556
NN         165.739130
OC          58.437500
SA         114.750000

In [57]:
# df['beer_servings'].count()
df.groupby('continent')['beer_servings'].value_counts()
#대륙별AF 퍼센트 출력하시오.
df.groupby('continent')['beer_servings'].value_counts(normalize=True).loc['AF']*100
#df.groupby('continent')['beer_servings'].count()

beer_servings
0      5.660377
8      5.660377
25     5.660377
9      3.773585
15     3.773585
32     3.773585
36     3.773585
1      1.886792
3      1.886792
5      1.886792
6      1.886792
12     1.886792
17     1.886792
18     1.886792
19     1.886792
20     1.886792
26     1.886792
28     1.886792
31     1.886792
34     1.886792
37     1.886792
42     1.886792
43     1.886792
45     1.886792
47     1.886792
51     1.886792
56     1.886792
58     1.886792
64     1.886792
76     1.886792
82     1.886792
88     1.886792
90     1.886792
92     1.886792
98     1.886792
144    1.886792
147    1.886792
157    1.886792
173    1.886792
217    1.886792
225    1.886792
347    1.886792
376    1.886792
Name: proportion, dtype: float64

In [48]:
df.groupby('continent').count()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,53,53,53,53
AS,44,44,44,44
EU,45,45,45,45
NN,23,23,23,23
OC,16,16,16,16
SA,12,12,12,12

In [51]:
#1.대륙은 AF, 국가, 맥주소비량 

df[df['continent']=='AF'][['beer_servings']]

                          beer_servings
country
Algeria                              25
Angola                              217
Benin                                34
Botswana                            173
Burkina Faso                         25
Burundi                              88
Cote d'Ivoire                        37
Cabo Verde                          144
Cameroon                            147
Central African Republic             17
Chad                                 15
Comoros                               1
Congo                                76
DR Congo                             32
Djibouti                             15
Egypt                                 6
Equatorial Guinea                    92
Eritrea                              18
Ethiopia                             20
Gabon                               347
Gambia                                8
Ghana                                31
Guinea                                9
Guinea-Bissau                        28
Kenya                                58
Lesotho                              82
Liberia                              19
Libya                                 0
Madagascar                           26
Malawi                                8
Mali                                  5
Mauritania                            0
Mauritius                            98
Morocco                              12
Mozambique                           47
Namibia                             376
Niger                                 3
Nigeria                              42
Rwanda                               43
Sao Tome & Principe                  56
Senegal                               9
Seychelles                          157
Sierra Leone                         25
Somalia                               0
South Africa                        225
Sudan                                 8
Swaziland                            90
Togo                                 36
Tunisia                              51
Uganda                               45
Tanzania                             36
Zambia                               32
Zimbabwe                             64

In [61]:
#대륙별 맥주 소비량 합계
df.groupby('continent')['beer_servings'].sum()

continent
AF    3258
AS    1630
EU    8720
NN    3345
OC    1435
SA    2101
Name: beer_servings, dtype: int64

In [71]:
beer_mean = df['beer_servings'].mean()
beer_mean

106.16062176165804

In [72]:
continent_over_mean = df.groupby('continent')['beer_servings'].mean()
continent_over_mean

continent
AF     61.471698
AS     37.045455
EU    193.777778
NN    145.434783
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [73]:
continent_over_mean[continent_over_mean >=beer_mean]

continent
EU    193.777778
NN    145.434783
SA    175.083333
Name: beer_servings, dtype: float64

In [74]:
df.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [82]:
#total_litres_of_pure_alcohol 전체 평균보다 높은 대륙 출력

# df['total_litres_of_pure_alcohol'].mean()
df.groupby('continent')['total_litres_of_pure_alcohol']

In [69]:
#전체 평균보다 맥주소비량이 높은 대륙을 출력하시오.
#1.전체평균소비량
beer_mean = df['beer_servings'].mean()
#2.대륙별 평균 소비량
continent_over_mean = df.groupby('continent')['beer_servings'].mean()
continent_over_mean[continent_over_mean >=beer_mean]
#3. 전체 평균보다 맥주소비량이 높은 대륙 검색

continent
EU    193.777778
NN    145.434783
SA    175.083333
Name: beer_servings, dtype: float64

In [86]:
#전체 알코올 합계 평균
df['total_litres_of_pure_alcohol'].mean()
# total_groupby=df.groupby('continent')['total_litres_of_pure_alcohol'].mean()
# total_groupby[total_groupby > df['total_litres_of_pure_alcohol']].mean()

4.717098445595855

In [88]:
total_groupby=df.groupby('continent')['total_litres_of_pure_alcohol'].mean()
total_groupby

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [95]:
total_groupby[total_groupby > df['total_litres_of_pure_alcohol'].mean()]

continent
EU    8.617778
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [60]:
len(df.groupby('continent').value_counts().loc['AF'])
df_groupby=df.groupby('continent').value_counts(normalize=True).loc['AF']
df_groupby['beer_servings']

KeyError: 'beer_servings'