In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 320.0 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 445.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [5]:
!pip install oracledb

Collecting oracledb
  Downloading oracledb-2.3.0-cp311-cp311-win_amd64.whl.metadata (5.3 kB)
Requirement already satisfied: cryptography>=3.2.1 in c:\users\koreavc\anaconda3\lib\site-packages (from oracledb) (42.0.2)
Requirement already satisfied: cffi>=1.12 in c:\users\koreavc\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.16.0)
Requirement already satisfied: pycparser in c:\users\koreavc\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-2.3.0-cp311-cp311-win_amd64.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
    --------------------------------------- 0.0/1.7 MB 653.6 kB/s eta 0:00:03
   --------- ------------------------------ 0.4/1.7 MB 3.5 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.7 MB 5.2 MB/s eta 0:00:01
   ------------------------------- -------- 1.3/1.7 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 7.1 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-2.3.0

In [6]:
import oracledb

In [9]:
con = oracledb.connect(user="ora_user", password="1111", dsn="localhost:1521/xe")   # DB에 연결 (호스트이름 대신 IP주소 가능)
cursor = con.cursor()   # 연결된 DB 지시자(커서) 생성
print("데이터베이스 연결 성공")

데이터베이스 연결 성공

In [10]:
# emp테이블의 내용 확인
cursor.execute("select * from employees") # 데이터베이스 명령 실행( cursor가 임시로 보관)
out_data = cursor.fetchall() # 커서의 내용을 out_data에 저장 
for record in out_data: # out_data의 내용을 출력
    print(record)
print('-'*50)

(198, 'Donald OConnell', 'DOCONNEL', '650.507.9833', datetime.datetime(2007, 6, 21, 0, 0), 2600.0, 124, None, None, 50, 'SH_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(199, 'Douglas Grant', 'DGRANT', '650.507.9844', datetime.datetime(2008, 1, 13, 0, 0), 2600.0, 124, None, None, 50, 'SH_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(200, 'Jennifer Whalen', 'JWHALEN', '515.123.4444', datetime.datetime(2003, 9, 17, 0, 0), 4400.0, 101, None, None, 10, 'AD_ASST', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(201, 'Michael Hartstein', 'MHARTSTE', '515.123.5555', datetime.datetime(2004, 2, 17, 0, 0), 13000.0, 100, None, None, 20, 'MK_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(202, 'Pat Fay', 'PFAY', '603.123.6666', datetime.datetime(2005, 8, 17, 0, 0), 6000.0, 201, None, None, 20, 'MK_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(203, 'Susan Mavris', 'SMAVRIS', '515.123.7777', datetime.datetime(2002, 6, 7, 0, 0), 6500.0, 101, None, None, 40, 'HR_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(204, 'Hermann Baer', 'HBAER', '515.123.8888', datetime.datetime(2002, 6, 7, 0, 0), 10000.0, 101, None, None, 70, 'PR_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(205, 'Shelley Higgins', 'SHIGGINS', '515.123.8080', datetime.datetime(2002, 6, 7, 0, 0), 12008.0, 101, None, None, 110, 'AC_MGR', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(206, 'William Gietz', 'WGIETZ', '515.123.8181', datetime.datetime(2002, 6, 7, 0, 0), 8300.0, 205, None, None, 110, 'AC_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(100, 'Steven King', 'SKING', '515.123.4567', datetime.datetime(2003, 6, 17, 0, 0), 24000.0, None, None, None, 90, 'AD_PRES', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(101, 'Neena Kochhar', 'NKOCHHAR', '515.123.4568', datetime.datetime(2005, 9, 21, 0, 0), 17000.0, 100, None, None, 90, 'AD_VP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(102, 'Lex De Haan', 'LDEHAAN', '515.123.4569', datetime.datetime(2001, 1, 13, 0, 0), 17000.0, 100, None, None, 90, 'AD_VP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(103, 'Alexander Hunold', 'AHUNOLD', '590.423.4567', datetime.datetime(2006, 1, 3, 0, 0), 9000.0, 102, None, None, 60, 'IT_PROG', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(104, 'Bruce Ernst', 'BERNST', '590.423.4568', datetime.datetime(2007, 5, 21, 0, 0), 6000.0, 103, None, None, 60, 'IT_PROG', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(105, 'David Austin', 'DAUSTIN', '590.423.4569', datetime.datetime(2005, 6, 25, 0, 0), 4800.0, 103, None, None, 60, 'IT_PROG', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(106, 'Valli Pataballa', 'VPATABAL', '590.423.4560', datetime.datetime(2006, 2, 5, 0, 0), 4800.0, 103, None, None, 60, 'IT_PROG', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(107, 'Diana Lorentz', 'DLORENTZ', '590.423.5567', datetime.datetime(2007, 2, 7, 0, 0), 4200.0, 103, None, None, 60, 'IT_PROG', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(108, 'Nancy Greenberg', 'NGREENBE', '515.124.4569', datetime.datetime(2002, 8, 17, 0, 0), 12008.0, 101, None, None, 100, 'FI_MGR', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(109, 'Daniel Faviet', 'DFAVIET', '515.124.4169', datetime.datetime(2002, 8, 16, 0, 0), 9000.0, 108, None, None, 100, 'FI_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(110, 'John Chen', 'JCHEN', '515.124.4269', datetime.datetime(2005, 9, 28, 0, 0), 8200.0, 108, None, None, 100, 'FI_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(111, 'Ismael Sciarra', 'ISCIARRA', '515.124.4369', datetime.datetime(2005, 9, 30, 0, 0), 7700.0, 108, None, None, 100, 'FI_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(112, 'Jose Manuel Urman', 'JMURMAN', '515.124.4469', datetime.datetime(2006, 3, 7, 0, 0), 7800.0, 108, None, None, 100, 'FI_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(113, 'Luis Popp', 'LPOPP', '515.124.4567', datetime.datetime(2007, 12, 7, 0, 0), 6900.0, 108, None, None, 100, 'FI_ACCOUNT', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(114, 'Den Raphaely', 'DRAPHEAL', '515.127.4561', datetime.datetime(2002, 12, 7, 0, 0), 11000.0, 100, None, None, 30, 'PU_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(115, 'Alexander Khoo', 'AKHOO', '515.127.4562', datetime.datetime(2003, 5, 18, 0, 0), 3100.0, 114, None, None, 30, 'PU_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(116, 'Shelli Baida', 'SBAIDA', '515.127.4563', datetime.datetime(2005, 12, 24, 0, 0), 2900.0, 114, None, None, 30, 'PU_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(117, 'Sigal Tobias', 'STOBIAS', '515.127.4564', datetime.datetime(2005, 7, 24, 0, 0), 2800.0, 114, None, None, 30, 'PU_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(118, 'Guy Himuro', 'GHIMURO', '515.127.4565', datetime.datetime(2006, 11, 15, 0, 0), 2600.0, 114, None, None, 30, 'PU_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(119, 'Karen Colmenares', 'KCOLMENA', '515.127.4566', datetime.datetime(2007, 8, 10, 0, 0), 2500.0, 114, None, None, 30, 'PU_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(120, 'Matthew Weiss', 'MWEISS', '650.123.1234', datetime.datetime(2004, 7, 18, 0, 0), 8000.0, 100, None, None, 50, 'ST_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(121, 'Adam Fripp', 'AFRIPP', '650.123.2234', datetime.datetime(2005, 4, 10, 0, 0), 8200.0, 100, None, None, 50, 'ST_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(122, 'Payam Kaufling', 'PKAUFLIN', '650.123.3234', datetime.datetime(2003, 5, 1, 0, 0), 7900.0, 100, None, None, 50, 'ST_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(123, 'Shanta Vollman', 'SVOLLMAN', '650.123.4234', datetime.datetime(2005, 10, 10, 0, 0), 6500.0, 100, None, None, 50, 'ST_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(124, 'Kevin Mourgos', 'KMOURGOS', '650.123.5234', datetime.datetime(2007, 11, 16, 0, 0), 5800.0, 100, None, None, 50, 'ST_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(125, 'Julia Nayer', 'JNAYER', '650.124.1214', datetime.datetime(2005, 7, 16, 0, 0), 3200.0, 120, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(126, 'Irene Mikkilineni', 'IMIKKILI', '650.124.1224', datetime.datetime(2006, 9, 28, 0, 0), 2700.0, 120, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(127, 'James Landry', 'JLANDRY', '650.124.1334', datetime.datetime(2007, 1, 14, 0, 0), 2400.0, 120, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(128, 'Steven Markle', 'SMARKLE', '650.124.1434', datetime.datetime(2008, 3, 8, 0, 0), 2200.0, 120, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(129, 'Laura Bissot', 'LBISSOT', '650.124.5234', datetime.datetime(2005, 8, 20, 0, 0), 3300.0, 121, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(130, 'Mozhe Atkinson', 'MATKINSO', '650.124.6234', datetime.datetime(2005, 10, 30, 0, 0), 2800.0, 121, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(131, 'James Marlow', 'JAMRLOW', '650.124.7234', datetime.datetime(2005, 2, 16, 0, 0), 2500.0, 121, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(132, 'TJ Olson', 'TJOLSON', '650.124.8234', datetime.datetime(2007, 4, 10, 0, 0), 2100.0, 121, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(133, 'Jason Mallin', 'JMALLIN', '650.127.1934', datetime.datetime(2004, 6, 14, 0, 0), 3300.0, 122, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(134, 'Michael Rogers', 'MROGERS', '650.127.1834', datetime.datetime(2006, 8, 26, 0, 0), 2900.0, 122, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(135, 'Ki Gee', 'KGEE', '650.127.1734', datetime.datetime(2007, 12, 12, 0, 0), 2400.0, 122, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(136, 'Hazel Philtanker', 'HPHILTAN', '650.127.1634', datetime.datetime(2008, 2, 6, 0, 0), 2200.0, 122, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(137, 'Renske Ladwig', 'RLADWIG', '650.121.1234', datetime.datetime(2003, 7, 14, 0, 0), 3600.0, 123, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(138, 'Stephen Stiles', 'SSTILES', '650.121.2034', datetime.datetime(2005, 10, 26, 0, 0), 3200.0, 123, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(139, 'John Seo', 'JSEO', '650.121.2019', datetime.datetime(2006, 2, 12, 0, 0), 2700.0, 123, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(140, 'Joshua Patel', 'JPATEL', '650.121.1834', datetime.datetime(2006, 4, 6, 0, 0), 2500.0, 123, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(141, 'Trenna Rajs', 'TRAJS', '650.121.8009', datetime.datetime(2003, 10, 17, 0, 0), 3500.0, 124, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(142, 'Curtis Davies', 'CDAVIES', '650.121.2994', datetime.datetime(2005, 1, 29, 0, 0), 3100.0, 124, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(143, 'Randall Matos', 'RMATOS', '650.121.2874', datetime.datetime(2006, 3, 15, 0, 0), 2600.0, 124, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(144, 'Peter Vargas', 'PVARGAS', '650.121.2004', datetime.datetime(2006, 7, 9, 0, 0), 2500.0, 124, None, None, 50, 'ST_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(145, 'John Russell', 'JRUSSEL', '011.44.1344.429268', datetime.datetime(1998, 10, 1, 0, 0), 14000.0, 100, 0.4, None, 80, 'SA_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(146, 'Karen Partners', 'KPARTNER', '011.44.1344.467268', datetime.datetime(1999, 1, 5, 0, 0), 13500.0, 100, 0.3, None, 80, 'SA_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(147, 'Alberto Errazuriz', 'AERRAZUR', '011.44.1344.429278', datetime.datetime(1999, 3, 10, 0, 0), 12000.0, 100, 0.3, None, 80, 'SA_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(148, 'Gerald Cambrault', 'GCAMBRAU', '011.44.1344.619268', datetime.datetime(2000, 10, 15, 0, 0), 11000.0, 100, 0.3, None, 80, 'SA_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(149, 'Eleni Zlotkey', 'EZLOTKEY', '011.44.1344.429018', datetime.datetime(2001, 1, 29, 0, 0), 10500.0, 100, 0.2, None, 80, 'SA_MAN', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(150, 'Peter Tucker', 'PTUCKER', '011.44.1344.129268', datetime.datetime(1999, 1, 30, 0, 0), 10000.0, 145, 0.3, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(151, 'David Bernstein', 'DBERNSTE', '011.44.1344.345268', datetime.datetime(1999, 10, 24, 0, 0), 9500.0, 145, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(152, 'Peter Hall', 'PHALL', '011.44.1344.478968', datetime.datetime(1999, 8, 20, 0, 0), 9000.0, 145, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(153, 'Christopher Olsen', 'COLSEN', '011.44.1344.498718', datetime.datetime(2000, 8, 30, 0, 0), 8000.0, 145, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(154, 'Nanette Cambrault', 'NCAMBRAU', '011.44.1344.987668', datetime.datetime(2000, 12, 9, 0, 0), 7500.0, 145, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(155, 'Oliver Tuvault', 'OTUVAULT', '011.44.1344.486508', datetime.datetime(2000, 11, 23, 0, 0), 7000.0, 145, 0.15, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(156, 'Janette King', 'JKING', '011.44.1345.429268', datetime.datetime(1998, 1, 30, 0, 0), 10000.0, 146, 0.35, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(157, 'Patrick Sully', 'PSULLY', '011.44.1345.929268', datetime.datetime(1998, 3, 4, 0, 0), 9500.0, 146, 0.35, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(158, 'Allan McEwen', 'AMCEWEN', '011.44.1345.829268', datetime.datetime(1998, 8, 1, 0, 0), 9000.0, 146, 0.35, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(159, 'Lindsey Smith', 'LSMITH', '011.44.1345.729268', datetime.datetime(1999, 5, 11, 0, 0), 8000.0, 146, 0.3, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(160, 'Louise Doran', 'LDORAN', '011.44.1345.629268', datetime.datetime(1999, 12, 15, 0, 0), 7500.0, 146, 0.3, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(161, 'Sarath Sewall', 'SSEWALL', '011.44.1345.529268', datetime.datetime(2000, 11, 3, 0, 0), 7000.0, 146, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(162, 'Clara Vishney', 'CVISHNEY', '011.44.1346.129268', datetime.datetime(1999, 11, 11, 0, 0), 10500.0, 147, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(163, 'Danielle Greene', 'DGREENE', '011.44.1346.229268', datetime.datetime(2000, 3, 19, 0, 0), 9500.0, 147, 0.15, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(164, 'Mattea Marvins', 'MMARVINS', '011.44.1346.329268', datetime.datetime(2001, 5, 24, 0, 0), 7200.0, 147, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(165, 'David Lee', 'DLEE', '011.44.1346.529268', datetime.datetime(2001, 2, 23, 0, 0), 6800.0, 147, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(166, 'Sundar Ande', 'SANDE', '011.44.1346.629268', datetime.datetime(2001, 3, 24, 0, 0), 6400.0, 147, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(167, 'Amit Banda', 'ABANDA', '011.44.1346.729268', datetime.datetime(2001, 4, 21, 0, 0), 6200.0, 147, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(168, 'Lisa Ozer', 'LOZER', '011.44.1343.929268', datetime.datetime(1999, 7, 11, 0, 0), 11500.0, 148, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(169, 'Harrison Bloom', 'HBLOOM', '011.44.1343.829268', datetime.datetime(2000, 7, 23, 0, 0), 10000.0, 148, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(170, 'Tayler Fox', 'TFOX', '011.44.1343.729268', datetime.datetime(2000, 1, 24, 0, 0), 9600.0, 148, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(171, 'William Smith', 'WSMITH', '011.44.1343.629268', datetime.datetime(2000, 2, 23, 0, 0), 7400.0, 148, 0.15, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(172, 'Elizabeth Bates', 'EBATES', '011.44.1343.529268', datetime.datetime(2000, 6, 24, 0, 0), 7300.0, 148, 0.15, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(173, 'Sundita Kumar', 'SKUMAR', '011.44.1343.329268', datetime.datetime(2001, 6, 21, 0, 0), 6100.0, 148, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(174, 'Ellen Abel', 'EABEL', '011.44.1644.429267', datetime.datetime(1998, 5, 11, 0, 0), 11000.0, 149, 0.3, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(175, 'Alyssa Hutton', 'AHUTTON', '011.44.1644.429266', datetime.datetime(1999, 9, 19, 0, 0), 8800.0, 149, 0.25, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(176, 'Jonathon Taylor', 'JTAYLOR', '011.44.1644.429265', datetime.datetime(2000, 5, 24, 0, 0), 8600.0, 149, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(177, 'Jack Livingston', 'JLIVINGS', '011.44.1644.429264', datetime.datetime(2000, 4, 23, 0, 0), 8400.0, 149, 0.2, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(178, 'Kimberely Grant', 'KGRANT', '011.44.1644.429263', datetime.datetime(2007, 5, 24, 0, 0), 7000.0, 149, 0.15, None, None, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(179, 'Charles Johnson', 'CJOHNSON', '011.44.1644.429262', datetime.datetime(2001, 1, 4, 0, 0), 6200.0, 149, 0.1, None, 80, 'SA_REP', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(180, 'Winston Taylor', 'WTAYLOR', '650.507.9876', datetime.datetime(2006, 1, 24, 0, 0), 3200.0, 120, None, None, 50, 'SH_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(181, 'Jean Fleaur', 'JFLEAUR', '650.507.9877', datetime.datetime(2006, 2, 23, 0, 0), 3100.0, 120, None, None, 50, 'SH_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))
(182, 'Martha Sullivan', 'MSULLIVA', '650.507.9878', datetime.datetime(2007, 6, 21, 0, 0), 2500.0, 120, None, None, 50, 'SH_CLERK', datetime.datetime(2014, 1, 8, 13, 44, 45), datetime.datetime(2014, 1, 8, 13, 44, 45))

In [ ]:
con.close() # 데이터베이스 연결 해제