In [50]:
import pandas as pd
df = pd.read_excel('202303_인구.xlsx',index_col='행정기관',nrows=2, skiprows=3,usecols='B,E:Y')
df

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276

In [29]:
df.index.values
df['5~9세']

행정기관
전국         1072653
서울특별시       161429
Name: 5~9세, dtype: object

In [41]:
##컬럼별 타입 변경
#df.info()
for i in range(len(df)):
    df.iloc[i]=df.iloc[i].str.replace(",","").astype(int)
    
df.loc['전국  '].sum()

25631538

In [51]:
df['총합']=0
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,총합
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307",0
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276,0

In [ ]:
## df['총합'] = df['0~4세']+df['5~9세']+.....[]
#마지막 총합컬럼의 첫번째 rows
# 처음 전국 index의 가로 합
#for문으로 row개수만큼 실행시키면 데이터가 모두 들어감
#df.iloc[0,21]=df.iloc[0].sum()

for i in

In [52]:
df.iloc[0,21]

0

In [42]:
df.iloc[0,21]=df.iloc[0].sum()

KeyError: '총합'

In [39]:
df[df.columns[-5:]]

         80~84세  85~89세 90~94세 95~99세 100세 이상
행정기관
전국       507915  212726  54180   8880    1307
서울특별시     93848   36511   9411   1703     276

In [40]:
#처음 전국 index의 가로 합
df.iloc[0].sum()

'726460107265312110771211949152437818239081737714168426620551302039606230309620522272097254155497610383887134485079152127265418088801307'

In [25]:
df.shape
#df.shape[0]
len(df)

2

In [12]:
df['합계']=df['0~4세']+df['5~9세']+df['10~14세']
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,합계
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307","726,4601,072,6531,211,077"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276,"116,614161,429185,689"