In [33]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
matplotlib.rcParams['font.family']='Malgun Gothic'  #한글설정
matplotlib.rcParams['font.size']= 10  #글자크기
matplotlib.rcParams['axes.unicode_minus'] = False

In [34]:
import pandas as pd
df=pd.read_excel('../z20_data/20230104_연령별인구현황2.xlsx',skiprows=3, index_col='행정기관',thousands=',',usecols='B,E:Y')
df.head()

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2052227,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,338380,343434,271757,188172,136287,93848,36511,9411,1703,276
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,126702,143246,119500,83807,55948,36851,13453,3103,420,72
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,96673,96632,71324,49675,31508,23021,9435,2197,299,25
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,121717,124470,84563,52236,35223,22843,9444,2410,482,82

In [35]:
df.columns.values

array(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세',
       '65~69세', '70~74세', '75~79세', '80~84세', '85~89세', '90~94세',
       '95~99세', '100세 이상'], dtype=object)

In [36]:
df.columns[0]

'0~4세'

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국   to 제주특별자치도
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~4세     18 non-null     int64
 1   5~9세     18 non-null     int64
 2   10~14세   18 non-null     int64
 3   15~19세   18 non-null     int64
 4   20~24세   18 non-null     int64
 5   25~29세   18 non-null     int64
 6   30~34세   18 non-null     int64
 7   35~39세   18 non-null     int64
 8   40~44세   18 non-null     int64
 9   45~49세   18 non-null     int64
 10  50~54세   18 non-null     int64
 11  55~59세   18 non-null     int64
 12  60~64세   18 non-null     int64
 13  65~69세   18 non-null     int64
 14  70~74세   18 non-null     int64
 15  75~79세   18 non-null     int64
 16  80~84세   18 non-null     int64
 17  85~89세   18 non-null     int64
 18  90~94세   18 non-null     int64
 19  95~99세   18 non-null     int64
 20  100세 이상  18 non-null     int64
dtypes: int64(21)
memory usage: 3.1+ KB

In [39]:
# df['0~4세']+df['5~9세']+df['10~14세']
# df.iloc[0,0]+df.iloc[0,1]+df.iloc[0,2]
# :3
# 3:13
# 13:

x=['2023년1월']
y1=df.iloc[0,:3].sum()
y2=df.iloc[0,3:13].sum()
y3=df.iloc[0,13].sum()

In [41]:
df.iloc[0,0]

726460

In [43]:
# for i in range(df.shape[1]):
#     df[df.columns[i]]=df[df.columns[i]].str.replace(",","").astype(int)

In [45]:

x=df['행정 기관']
y=df['남 인구수']
plt.bar(x,y,label='전국')

for i,txt in enumerate(y):
    plt.text(x[i],y[i],txt,ha='center')
plt.legend(loc='upper center')

KeyError: '행정 기관'