In [50]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
matplotlib.rcParams['font.family']='Malgun Gothic'  #한글설정
matplotlib.rcParams['font.size']= 10  #글자크기
matplotlib.rcParams['axes.unicode_minus'] = False

In [54]:
import pandas as pd
df=pd.read_excel('../z20_data/20230104_연령별인구현황2.xlsx',nrows=1,skiprows=3, index_col='행정기관')
df.head()

,행정기관코드,남 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,55~59세.7,60~64세.7,65~69세.7,70~74세.7,75~79세.7,80~84세.7,85~89세.7,90~94세.7,95~99세.7,100세 이상.7
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,0,"25,631,538","25,631,538","726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714",...,"2,019,475","2,151,423","1,674,243","1,183,522","914,393","808,412","471,121","181,497","41,465","7,089"

In [ ]:

x=df['행정기관']
y=df['총인구수']
plt.bar(x,y,label='전국')

for i,txt in enumerate(y):
    plt.text(x[i],y[i],txt,ha='center')
plt.legend(loc='upper center')