### Series 1차원 배열

In [1]:
import pandas as pd

In [ ]:
ser= pd.Series()

In [9]:
list1 = [-20,-10,0,10,20]

In [11]:
ser=pd.Series(list1)

In [12]:
list1

[-20, -10, 0, 10, 20]

In [19]:
ser

Jan   -20
Feb   -10
Mar     0
Apr    10
May    20
dtype: int64

In [14]:
ser[0]

-20

In [15]:
list1[0]

-20

In [18]:
ser = pd.Series(list1,index=['Jan','Feb','Mar','Apr','May'])

In [20]:
ser['Jan']

-20

In [21]:
ser[0]

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_26528\2519058933.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser[0]

-20

### Series index 설정