In [40]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import random
matplotlib.rcParams['font.family']='Malgun Gothic'  #한글설정
matplotlib.rcParams['font.size']= 10  #글자크기
matplotlib.rcParams['axes.unicode_minus'] = False

In [41]:
import pandas as pd
df=pd.read_csv('../z20_data/iris.csv')
df.head(3)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [42]:
#1.데이터 전처리 : 
datas_input=df.iloc[:,:-1]
datas_target=df.iloc[:,4]

# 모든 data를 가지고, train,test 데이터 분리 
# train,test데이터를 자동으로 분리해줌.
train_input,test_input,train_target,test_target= train_test_split(datas_input,datas_target)

In [43]:
#2. 데이터 학습시키기 - 모델 선정 후 데이터 훈련
clf=svm.SVC()
clf.fit(train_input,train_target)

#3.데이터 예측하기
result = clf.predict(test_input)

#4.정답률 구하기
#score=metrics.accuracy_score(test_target,result)
score=clf.score(test_input,test_target)
print("정답룰:  ",score)

정답룰:   0.9473684210526315

In [10]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [11]:
df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']].head(5)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
### train_input = rows 100개를 출력하시오.
### SepalLength SepalWidth  PetalLength PetalWidth
### test_input = rows 50개를 출력하시오.
### SepalLength SepalWidth  PetalLength PetalWidth
### train_target = rows 100개를 출력하시오.
### Name
### test_target = rows 50개를 출력하시오.
### Name

In [16]:
train_input=df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']][:100]
test_input=df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']][:50]
train_target=df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']][:100]
test_target=df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']][:100]
#df["Name"]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#index로 df에 대입해서 가져오면, 랜덤으로 데이터가 섞여서 가져올수 있음.

In [34]:
#파이썬 random함수
ran=[i for i in range(150)]
ran=random.shuffle(ran)

#(0-149) 150개 배열 생성
index=np.arange(150)
np.random.seed(150)
index

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

In [24]:
#random code 0-149 랜덤숫자를 생성
np.random.seed(150)
index=np.arange(150)
np.random.shuffle(index)
print(index)
#index로 df에 대입해서 가져오면, 랜덤을 데이터가 섞여서 가져올 수 있음.

In [25]:
print(index)

[ 53  42 141  83  60  28  13  31  71  59   2 124 131  54 144  36  52 139
 128 114  63  91  16   8  87  76  35 117 109  88  72  84  21  43  85 137
 134  48  30  27  47  41  90  33 145  79  40  20  34  11 136 113  32 119
  78 125   3  96  82  86   6 118 111 143  69 129 140  62  99  65  97  39
  98  57  73  51  77 149  94  29 120  56   4   9  37   1  44 106 148  22
 102  66  18  24  58  89  61 115 132   0   5  10 133  70 112 146 126 107
  80 123  46 147 122  75  15  68  95  26  12 127  55 103  67 130  19  64
  74 135 110  45  23 108  38   7 121  93  81 138 116  17  49  14 104 105
  92 101 142 100  50  25]

In [22]:
#데이터전처리 train_data,test_data 분리
#iloc(rows,columns)
# df.iloc[0:,:100]
# df.iloc[:-1]
# train_input=df.iloc[:100,:-1]
# test_input=df.iloc[100:,:-1]
# train_target=df.iloc[:100,4]
# test_target=df.iloc[100:,4]

In [36]:
#랜덤으로 데이터 추출-train,test 데이터 수동으로 분리
train_input=df.iloc[index[:100],:-1]
test_input=df.iloc[index[100:],:-1]
train_target=df.iloc[index[:100],4]
test_target=df.iloc[index[100:],4]

In [37]:
datas_input = df.iloc[:,:-1]
datas_target=df.iloc[:,4]

In [38]:

#train,test데이터를 자동으로 분리해줌.
train_input,test_input,train_target,test_target= train_test_split(datas_input,datas_target)

In [ ]:
#4.9 2.9 1.4 0.2 -> 무슨 품종인지 출력
#5.6 3 4.1 1.2 
#6.5 2.8 6.7 2.2

In [45]:
#2. 데이터 학습시키기 - 모델 선정 후 데이터 훈련
clf=svm.SVC()
clf.fit(train_input,train_target)

#3.데이터 예측하기
result = clf.predict(test_input)

#4.정답률 구하기
#score=metrics.accuracy_score(test_target,result)
score=clf.score(test_input,test_target)
print("정답룰:  ",score)

정답룰:   0.9473684210526315

In [49]:
input1=int(input("데이터1을 입력하세요."))
print(input1)

input_arr=input1.split(',')
print(input_arr)

ValueError: invalid literal for int() with base 10: '4.9 2.9 1.4 0.2'

In [ ]:

pre=clf.predict(data4)
print("답:  ",pre)